html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: rgba(0, 140, 130, 0.85);
}
body .body {
	height: 100%;
}
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 46, 82, 0.15);
	padding: 20px;
}
.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}
* {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
*:focus { 
	outline: none !important;
	box-shadow: none !important;
}
a, a:hover, a:focus {
	color: red;
}
/* Begin Fonts */
body {
	font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	margin-bottom: 10px;
}
h1 {
	font-size: 60px;
	text-transform: uppercase;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
p {
	font: 14px/1.5em "Ubuntu";
}
.navbar-nav > li > a {
	font-family: 'Ubuntu', sans-serif;
}

/* End Fonts */


section {
	position: relative;
}
.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #FFF url(../img/page-loader.gif) center center no-repeat;
}
.devider {
	width: 100%;
	height: 23px;
	background: url('../img/devider.png') no-repeat center center;
	margin: 5px 0 10px;
}
.thumbnail {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #FFF;
	border: 1px solid #DDD;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.parallax {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-size: cover;
}
/* ===== Begin text colors ===== */
.text-main { color: #363940; } /* Theme main color */
.text-white { color: #FFF; }
.text-off-white { color: #e7e7e7;}
.text-dark { color: #000; }


/* ===== Begin navbar ===== */
.navbar {
	margin: 0;
	border: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar .container {
	padding-left: 50px;
	padding-right: 50px;
	background-color: #099788;
}


/* Navbar brand (logo) */
.navbar-header {
	margin-top: 5px;
}
.navbar-brand {
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	float: none;
	line-height: 1px;
}
img.img-brand{
	display: inline-block;
	height: 60px;
	padding-right: 10px;
	vertical-align: middle;
	
}

/* Navbar links */
.navbar-nav > li > a {
	padding: 24px 0;
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 26px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav>.active>a {
	color: #red !important;
}

/* Navbar dropdown */
.dropdown-toggle > p {
	font-size: 10px;
	line-height: 2px;
	color: #CCC;
}
.open.dropdown {
  position: static;
}
.container-fluid {
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}
.dropdown-menu {
  width: 100%;
  background-color: rgba(0, 152, 135, 1);
  text-align: center;
  border: none;
  padding: 20px 0px;
}
.dropdown-menu>li>a {
	padding: 10px 0;
	font-size: 16px;
	color: white;
	display: inline-block;
	text-align: center;
}
.dropdown-menu>li>p>i {
	vertical-align: text-top;
	padding-right: 4px;
	padding-left: 10px;
}
.dropdown-menu>li>p>span {
	font-family: 'Amatic SC', cursive;
	font-size: 24px;
	text-transform: uppercase;
	padding-right: 10px;
}
.dropdown-menu>li>p {
	font-size: 14px;
	color: #ccc;
	margin-top: 20px;
}
img.sea-icon {
	max-height: 36px;
	max-width: 36px;
	vertical-align: text-bottom;
	padding-right: 5px;
	padding-left: 5px;
}
.navbar-default .dropdown-menu {
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: #ffff;
}
.fa {
	vertical-align: middle;
}
.dropdown-menu .btn-blank{
	border: 1px solid #ccc;
	color: #fff;
	padding: 2px 5px;
	vertical-align: super;
}
/* Navbar inverse dropdown */
.navbar-inverse .dropdown-menu {
	padding: 10px 0;
}

/* Navbar fixed */
.navbar-fixed-top .container {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-shrink {
	z-index: 9999;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.navbar-shrink .navbar-brand {
	font-size: 40px;
}
.navbar-fixed-top.navbar-shrink .container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
	padding-top: 24px;
	padding-bottom: 24px;
}
.navbar.navbar-default.navbar-fixed-top.navbar-transparent .navbar-shrink{
	background-color: #ff8080;
}

/* Navbar transparent */
.navbar-transparent {
	background-color: rgba(0, 152, 135, 1);
}
.navbar-fixed-top.navbar-transparent .container {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-fixed-bottom.navbar-transparent .container {
	padding-top: 0;
	padding-bottom: 30px;
}
.navbar-transparent .navbar-brand, .navbar-transparent .navbar-nav > li > a, .navbar-transparent .navbar-brand:focus {
	color: #FBFBF9;
}
/* ===== End navbar ===== */

.hero-section {
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-section .hero-section-text {
    color: #fff;
    text-shadow: 1px 1px 2px #0a0a0a;
    z-index: 1;
	margin-top: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.hero-section-text p {
	letter-spacing: 1.5px;
	font-size: 16px;
}
.hero-section-text span{
	color: rgba(0, 140, 130, 0.85);
}
.logo {
	max-height: 180px;
	opacity: 0.70;
}
#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}


/* Begin Modal */

.modal-backdrop.in {
	background-color: #000;
	opacity: 0.9;
}
/* Modal */
.modal-body {
	background-color: rgba(0, 140, 130, 0.85);
	padding: 0px;
}
/* Video Modal */
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground, .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}


/* Begin servicos */
#partners-section {
	height: 100vh;
	padding-top: 10vh;
}

.flex-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .flex-container {
  	height: 100%;
    flex-direction: column;
  }
  #partners-section {
	height: 100%;
	padding-top: 10vh;
}
}

.flex-title {
  color: #f1f1f1;
  position: relative;
  font-size: 4vw;
  margin: auto;
  text-align: center;
  transform: rotate(0deg);
  top: 15%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (max-width: 768px) {
  .flex-title {
    transform: rotate(0deg) !important;
  }
}

.flex-about {
  opacity: 0;
  color: #f1f1f1;
  position: relative;
  width: 70%;
  font-size: 2vw;
  padding: 5%;
  top: 20%;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  line-height: 1.3;
  margin: auto;
  text-align: left;
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (max-width: 768px) {
  .flex-about {
    padding: 0%;
    border: 0px solid #f1f1f1;
  }
}

.flex-slide {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (max-width: 768px) {
  .flex-slide {
    overflow: auto;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .flex-slide p {
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .flex-slide ul li {
    font-size: 2em;
  }
}

.flex-slide:hover {
  -webkit-flex-grow: 3;
  flex-grow: 3;
}

.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-macquarie-71208_1920.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
@media screen and (min-width: 768px) {
  .home {
    -moz-animation: aboutFlexSlide;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0s;
    -webkit-animation: aboutFlexSlide;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    animation: aboutFlexSlide;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
}

@keyframes aboutFlexSlide {
  0% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  50% {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  100% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .flex-title-home {
    transform: rotate(0deg);
    top: 15%;
    -moz-animation: homeFlextitle;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0s;
    -webkit-animation: homeFlextitle;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    animation: homeFlextitle;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
}

@keyframes homeFlextitle {
  0% {
    transform: rotate(90deg);
    top: 15%;
  }
  50% {
    transform: rotate(0deg);
    top: 15%;
  }
  100% {
    transform: rotate(90deg);
    top: 15%;
  }
}
.flex-about-home {
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .flex-about-home {
    -moz-animation: flexAboutHome;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0s;
    -webkit-animation: flexAboutHome;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    animation: flexAboutHome;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
}

@keyframes flexAboutHome {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/beach-2089959_1280.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.contact-form {
  width: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-696098_1920.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/forest-208517_1280.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  height: 100%;
  width: 100%;
  z-index: 11;
  margin-top: 0;
  color: #fff;
  font-size: 1em;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}




/* End servicos */







/* ===== Begin roatet boxes ===== */
/* Begin rotate box-1 */
.rotate-box-1, .rotate-box-2 {
	display: inline-block;
	margin: 30px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.rotate-box-1, a.rotate-box-2 {
	text-decoration: none;
	color: #363940;
}
a.rotate-box-1:hover, a.rotate-box-2:hover {
	color: #676D75;
}
.rotate-box-1 .rotate-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 25px;
	margin-top: 10px;
	float:left;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.rotate-box-1.square-icon .rotate-box-icon, .rotate-box-2.square-icon .rotate-box-icon {
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #FFF !important;
	font-size: 18px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rotate-box-1.square-icon .rotate-box-icon:after, .rotate-box-2.square-icon .rotate-box-icon:after {
	content: "";
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	border: 2px solid #FFF;
}
.rotate-box-1:hover.square-icon .rotate-box-icon , .rotate-box-2:hover.square-icon .rotate-box-icon{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate-box-1.square-icon .rotate-box-icon .fa, .rotate-box-2.square-icon .rotate-box-icon .fa{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.rotate-box-1:hover.square-icon .rotate-box-icon .fa, .rotate-box-2:hover.square-icon .rotate-box-icon .fa{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.rotate-box-1 .rotate-box-info a, .rotate-box-2 .rotate-box-info a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.rotate-box-1 h4, .rotate-box-2 h4 {
	font-weight: 400;
}
.rotate-box-1 p {
	padding: 0 10px;
}
.rotate-box-1 .rotate-box-info {
	padding-left: 60px;
}

/* End rotate box-1 */


/* Begin rotate box-2 */
.rotate-box-2 .rotate-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.rotate-box-2.square-icon .rotate-box-icon {
	width: 75px;
	height: 75px;
	line-height: 75px;
	font-size: 36px;
}

.rotate-box-2.square-icon .rotate-box-info {
	margin-top: 30px;
}
/* End rotate box-2 */
/* ===== End rotate boxes ===== */


/* ===== Begin progress bar ===== */
.skill-bar {
}
.progress {
	overflow: visible;
	height: 25px;
	margin-bottom: 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress .percent {
	position: relative;
	background-color: #222;
	padding: 7px;
	color: #FFF;
	top: -23px;
}
.progress .percent:after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -4px;
	bottom: -4px;
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #222;
}
.progress-bar {
	font-size: 10px;
	line-height: 7px;
	text-align: right;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-lebel h6{
	margin-bottom: 10px;
	letter-spacing: 2px;
}
/* ===== End progress bar ===== */


/* Begin cta section */
#cta-section {
	padding: 70px 0 80px;
}
.cta-btn {
	margin-top: 30px;
}
/* End cta section */


/* ===== Begin testimonial ===== */
.testimonial {
	position: relative;
	overflow: hidden;
	padding: 80px 0;
}

.testimonial .cover {
	background-color: rgba(0, 7, 11, 0.87);
}
.testimonial-inner {
	position: relative;
	max-width: 800px;
	z-index: 9;
}
.testimonial-inner .heading {
	margin-bottom: 20px;
}
.testimonial-inner blockquote {
	border: none;
}
.testimonial-inner blockquote p {
	letter-spacing: 2px;
	padding-bottom: 20px;
}
.testimonial-inner blockquote cite {
	font-style: normal;
	color: #fff;
	font-size: 1.5em;
}
/* ===== End testimonial ===== */


/* ===== Begin Portfolio===== */
.portfolio_area{}
.portfolio{}
.portfoloi_top{}
.portfoloi_content_area{}
.portfolio_menu{
	text-align: center;
	overflow: hidden;
	margin-top:22px;
	margin-bottom:48px;
}
.portfolio_menu ul{
	list-style: none outside none;
    text-align: center;
}
.portfolio_menu ul li{
    display: inline-block;
}
.portfolio_menu ul li a{
	color: #363940;
	background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio_content{}
.portfolio_single_content{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	margin-bottom:30px;
	overflow:hidden;
	
}
.portfolio_single_content:hover img{
	 -o-transform: scale(2);
	 -webkit-transform: scale(2);
	 -moz-transform: scale(2);
	 -ms-transform: scale(2);
	 transform: scale(2);
}
.portfolio_single_content img{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 6;
	cursor:pointer;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
}
.portfolio_single_content .canv{
	width:100% !important;
	height:100% !important;
}
.portfolio_single_content div+div{
	background: none repeat scroll 0 0 rgba(255,255,255,.9);
	bottom: -100%;
	color: #FFC000;
	font-weight: bold;
	left: 0;
	margin: 0;
	min-height: 90px;
	padding:31px 5px 0 10px;
	position: absolute;
	width: 100%;
	z-index: 12;
	border-top:0;
}
/*.portfolio_single_content:hover div+div{bottom: 0;}*/
.portfolio_single_content div{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	text-align:center;
	transform:scale(0);
	transition:all .6s;
	opacity:0;
}
.portfolio_single_content:hover div{
	transform:scale(1);
	opacity:1;
}
.portfolio_single_content div a{
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 40%;
	padding-bottom: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.portfolio_single_content div span{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.portfolio_content{}
.portfolio_content{
    margin-top: 36px;
    overflow: hidden;
}
/* ===== End Portfolio===== */


/* ===== Begin Counter-Up ===== */
.counter-up {
	position: relative;
	background-color: #171717;
	padding: 80px 0 50px 0;
}
.counter-up .cover {
	background-color: rgba(0, 7, 11, 0.8);
}
.counter-up .fact {
}
.counter-up .fact.last {
	border-right: none;
}
.counter-up .fact-inner {
	padding-bottom: 30px;
}
.counter-up .fact-inner .counter {
	font-size: 60px;
}
/* ===== End Counter-Up ===== */


/* ===== Begin team ===== */
.team-item {
	height: 120px;
}	
.team-item .team-triangle {
	width: 120px;
	height: 120px;
	background: transparent;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0 auto;
	position: relative;
	top: 25px;
	box-shadow: 0 0 0 6px #FFFFFF, 0 0 0 7px #dadbdb;
	overflow: hidden;
}
.team-item img {
    max-width: 100%;
}
.team-items {
	margin-bottom: 50px;
	padding-top: 10px;
	margin-top: 0;
}
.team-triangle .content {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -35px;
	position: absolute;
	left: -37px;
	width: 190px;
	height: 190px;
}
.team-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba( 103, 109, 117, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.4s ease-in;
}
.team-item .team-triangle:hover .team-hover {
	opacity: 1;
}
.team-hover i {
    color: rgba(255, 255, 255,.75);
    font-size: 28px;
    margin-top: 57px;
    position: relative;
}
.team-hover p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
.team-items .col-md-2:nth-child(7n+5) {
	clear: left;
	margin-left: 24.9999999%;
}
.team-items .col-md-2:nth-child(7n+1) {
	clear: left;
	margin-left: 16.6666666%;
}
/* ===== End team ===== */


/* ===== Begin partners ===== */
.partners {
	background-color: #252320;
}

.partners img {
	max-width: 100%;
	padding: 0 15px;
}
/* ===== End partners ===== */


/* ===== Begin panels ===== */
.panel, .panel-heading, .panel-footer  {
}
/* ===== End panels ===== */

/* ===== Begin prices ===== */
.prices .panel {
	position: relative;
	overflow: hidden;
	border: none;
}
.prices .panel-body .lead {
	margin: 0;
	font-size: 48px;
}
.prices .panel-footer {
	padding: 25px 15px;
}

/* panel-default */
.prices .panel-default .panel-heading {
	padding-top: 25px;
	border: none;
}
.prices .panel-default .panel-body {
	background-color: #EEE;
}
.prices .panel-default .list-group-item {
	color: #222;
	border: none;
}
.prices .panel-default .panel-footer {
	background-color: #EEE;
}

/* price-box-featured */
.price-box-featured {
	z-index: 9;
}
.price-box-featured .panel {
	box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.21);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.prices .price-box-featured .price-box-ribbon {
	position: absolute;
	width: 150px;
	top: 25px;
	right: -35px;
	text-align: center;
	padding: 5px 20px;
	background: #FFF;
	color: #E83F33;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* ===== End prices ===== */


/* ===== Begin social ===== */
#social-section {
	padding: 80px 0;
}
ul.social-list {
	text-align: center;
	margin: 0 auto;
}
ul.social-list li{
	display: inline-block;
	margin-right: 20px;
}
ul.social-list li .rotate-box-1 {
	margin: 0;
}
ul.social-list li a i {
	color: #fff;
	font-size:20px;
}
/* ===== End social ===== */


/* ===== Begin contact ===== */
#contact-section {
	position: relative;
}
#contact-section h4 {
	font-weight: 400;
}
#contact-section .cover {
	background-color: rgba(5, 8, 11, 0.93);
}
#contact-section .contact .contact-form {
	margin-bottom: 40px;
}
#contact-section .contact .contact-form h4 {
	margin-bottom: 25px;
}
#contact-section .contact .contact-form .input-lg {
	font-size: 14px;
}
#contact-section .contact .contact-form button {
	width: 100%;
	height: 40px;
}
#contact-section .contact .contact-form button:hover {
	color: #fff;
}
#contact-section .contact .form-control {
	background-color: rgba(255, 255, 255, 0.06);
	border-color: #2A2A2A;
}
#contact-section .contact .form-control:focus {
	background-color: #171717;
	box-shadow: none;
}

ul.contact-address {
	float: left;
	width: 100%;
	padding: 0;
	margin: 15px 0 ;
}
ul.contact-address li {
	padding: 0 0 20px;
	margin: 0;
}
ul.contact-address li:last-child {
	padding-bottom: 0;
}
ul.contact-address li i {
	margin-right: 10px;
}
/* ===== End contact ===== */


/* ===== Begin footer ===== */
.footer-top {
	padding: 60px 0 35px;
}
.footer-top .col-md-4 {
	margin-bottom: 25px;
}
.footer {
	padding: 30px 0;
}
.footer a{
	text-decoration: none;
}

/*Widget1: Useful Links*/
ul.imp-links {
	margin-top: 15px;
}
ul.imp-links li {
	padding: 5px 0;
}
ul.imp-links li a {
	text-decoration: none;
	color: #fff;
}

/*Widget2: subscribe form*/
#subscribe #result {
    display: block;
    width: 100% !important;
}
#footer_signup {
    margin: 20px 0;
}
#subscribe > input[type="text"] {
    border: 0 none;
    color: #99abb7;
    font-style: italic;
    font-size: 0.9em;
    padding: 7px 10px;
    width: 170px;
    height: 30px;
}
#subscribe > button[type="submit"] {
    background: none repeat scroll 0 0 #21c2f8;
    border: 0 none;
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
    padding: 7px 20px;
    height: 30px;
    transition: all 0.4s ease-in;
}

/*Widget3: twitter*/
.single-tweet {
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 10px;
    word-spacing: 2px;
}

.tweet-content {
    padding-bottom: 10px;
    line-height: 1.5em;
}
/* ===== End footer ===== */


/* ===== Begin page header ===== */
.page-header {
	margin: 0 0 60px 0;
	padding: 0;
	border: none;
}
.page-header h2 {
	text-transform: uppercase;
}
p.subtitle {
	letter-spacing: 2px;
	margin-top: 10px;
}
/* ===== End page header ===== */


/* ===== Begin extra-space ===== */
.extra-space-m {
	width: 100%;
	height: 20px;
}
.extra-space-l {
	width: 100%;
	height: 40px;
}
.extra-space-xl {
	width: 100%;
	height: 60px;
}
.extra-space-xxl {
	width: 100%;
	height: 80px;
}
/* ===== End more-space ===== */


/* ===== Begin OWL carousel ===== */
.owl-carousel {
	cursor: e-resize;
}
.owl-item img {
    width: 100%;
    height: auto;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
.owl-prev:hover, .owl-next:hover {
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}
.owl-next {
    right: 0px;
}
.owl-controls {
    text-align: center;
}
.owl-controls .owl-page {
    display: inline-block;
}
.owl-controls .owl-page span {
    background-color: #333;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    width: 12px;
    filter: Alpha(Opacity=500);/*IE7 fix*/
    opacity: 0.5;
}
.owl-controls .owl-page.active span, .owl-controls .owl-page:hover span {
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* ===== End OWL carousel ===== */


/* ===== Begin buttons ===== */
.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;
}
.btn:active {
	top: 2px;
}

/* Button default */
.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	background: #099788;
	color: #fff;
}

/* Button blank */
.btn-blank {
	border: 2px solid #fff;
	color: #fff;
	padding: 8px 12px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-blank:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-blank:hover, .btn-blank:focus, .btn-blank:active {
	color: #099788;
}
.btn-blank:hover:before, .btn-blank:focus:before, .btn-blank:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

/* Button active */
.btn:active, .btn.active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
}

/* Button large */
.btn-lg {
	font-size: 1.3em;
	padding: 10px 40px;
}
.btn-lg-xl {
	font-size: 1.4em;
	padding: 10px 80px;
}


/* Scroll to top button */
.scrolltotop {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	z-index: 9999;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.scrolltotop .fa {
	padding-left: 4px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* === Buttons === */
.btn-default:hover {
	color: #fff;
	background: #676D75;
}
.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	background-color: #3078B3;
	color: #FFF;
}
.btn-primary:hover {
	background-color: #1867A8;
	color: #FFF;
}
.btn-danger, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active {
	background-color: #E7392D;
	color: #FFF;
}
.btn-danger:hover {
	background-color: #D81508;
	color: #FFF;
}


/* ===== End buttons ===== */